<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <title>Document</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {{>navbar}}
    <div class="col justify-content-center center-block">
          <img
            src="https://image.freepik.com/free-vector/error-404-concept-landing-page_114360-2279.jpg"
            class="img-fluid mx-auto justify-content-center center-block"
            alt="404 Error Page not found "
          />
        </div>
    {{>footer}}    
</body>
</html>