<!-- Footer -->

<footer class="page-footer font-small p-0 mt-auto">

  <div class="mx-0 my-0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        class="border"
        fill="#00cba9"
        fill-opacity="1"
        d="M0,224L80,202.7C160,181,320,139,480,133.3C640,128,800,160,960,170.7C1120,181,1280,171,1360,165.3L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
      ></path>
    </svg>
  </div>
  <!-- Copyright -->
  <div
    class="footer-copyright text-center py-3 special-color-dark text-light bg-dark footer-div"
  >Made with ❤️ by
    <a href="https://gaganchaudhary.com/" target="_blank">Gagan Chaudhary</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->