<!-- Footer -->
<footer
  class="page-footer font-small special-color-dark text-light bg-dark pt-4 mt-auto"
>

  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Made with ❤️ by
    <a href="https://gaganchaudhary.com/" target="_blank">Gagan Chaudhary</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->