<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-0 my-0">
  <div class="container-fluid d-flex flex-row">
    <a class="navbar-brand" href="/">Dark Sky</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav font-weight-bold float-right  ">
        <a class="nav-link px-5 text-light" aria-current="page" href="/">Home</a>
        <a class="nav-link px-5 text-light" href="/weather">Weather</a>
        <a class="nav-link px-5 text-light" href="/about">About</a>
      </div>
    </div>
  </div>
</nav>